@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

body{
    background-color: black;
}

p, h1{
    
    font-family: 'Roboto', sans-serif;
    color: white;
    background-color:rgb(68, 66, 66);
    
    padding-bottom: 32px;

}
.menu {
    background-color:rgb(128, 128, 128);
    padding: 24px 0;
    position: fixed;
    width: 100%;
    
}

.main-header nav {
    max-width: 1200px;
    margin: 0 auto;
    height: 40px; 
}

.menu nav ul {
    display: flex;
    list-style: none;
    gap: 32px;
}

.menu li a {
    text-decoration: none;
    font-weight: 300px;
    font-size: 18px;
    color:white;
    line-height: 50px; 

}

.menu li a:hover {
    
    color:yellow;
    font-size: 20px;
    border-radius: 32px;
    

}



.main-first .banner {
    width: 100%;
    height: 600px;
    object-fit: cover; 
}



.menu li  {
    font-weight: 500;
} 


.main-first .jogos {
    display: flex;
     gap: 20px; 
    flex-wrap: wrap;
    justify-content: space-between; 
    /* max-width: 1200px; */
     margin: 72px 20px;
    

}

    .main-first .jogos .kratos {
        width: 600px;
        border: 1px solid whitesmoke;
        border-radius:12px; 
        margin-bottom: 32px;
      
    }

    .main-first .kratos a {
        text-decoration: none;
        color:white;
        background-color: orangered;
        border-radius: 12px;
        
      
    }



    .main-first .kratos img {
        width: 100%;
        height: 500px;
        object-fit: contain;
 
    }

   
.zap img {
    position: fixed;
    bottom: 10px;
    right: 40px;
    width: 50px;
    height: 50px;
}
 
