@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

body{
    background-color: black;
}

p, h1{
    
    font-family: 'Roboto', sans-serif;
    color: white;
    background-color:rgb(68, 66, 66);
    
    padding-bottom: 32px;

}
.menu {
    background-color:rgba(128, 128, 128, 0.746);
    padding: 24px 0;
    position: fixed;
    width: 100%;
    
}

.main-header nav {
    max-width: 1200px;
    margin: 0 auto;
    height: 40px; 
}

.menu nav ul {
    display: flex;
    list-style: none;
    gap: 32px;
    margin-left: 32px;
}


.menu li a {
    text-decoration: none;
    font-weight: 300px;
    font-size: 18px;
    color:white;
    line-height: 50px; 

}

.menu li a:hover {
    
    color:whitesmoke;
    font-size: 20px;
    border-radius: 32px;
    background-color: rgba(128, 128, 128, 0.637);
    
}


.custom-input {
    width: 200px;
    border: 0;
    background-color: white;
    padding: 6px 12px;
    border-radius: 12px;
    transition: .2s;
    margin-left:900px;
}

.custom-input:focus {
    background-color:rgb(245, 245, 245);
    width: 400px;
}


.custom-input :nth-child(3) {
    background-color: blue;
}

.main-first .banner {
    width: 100%;
    height: 600px;
    object-fit: cover; 
}

.menu li  {
    font-weight: 500;
} 


.main-first .jogos {
    display: flex;
     gap: 20px; 
    flex-wrap: wrap;
    justify-content: space-between; 
    /* max-width: 1200px; */
     margin: 72px 20px;
    
}

    .main-first .jogos .kratos {
        width: 600px;
        border: 1px solid whitesmoke;
        border-radius:12px; 
        margin-bottom: 32px;
      
    }

    .main-first .kratos a {
        text-decoration: none;
        color:white;
        font-size: 24px;
        background-color: orangered;
        border-radius: 12px;
        padding: 24px 40px;
        text-align: center;
        display: block;

    }

   .jogos .kratos p ::first-line {
       color: orangered;
       margin-left: 32px;
    }

    .jogos .kratos p ::first-letter{
        color: red;
        
     }

    .main-first .kratos img {
        width: 100%;
        height: 500px;
        object-fit: contain;
      
    }

   
.zap img {
    position: fixed;
    bottom: 10px;
    right: 40px;
    width: 50px;
    height: 50px;
}
 
